@model Movie;

@{
    var movie = Model;
    ViewData["Title"] = "Movie Details";
}

<section>
    <h1 class="display-4 mb-3">@movie.Title</h1>
    <div class="card shadow">
        <div class="card-body">
            <h2 class="fs-5 card-title mb-3">@movie.Title</h2>
            <p>
                <strong>Director: </strong>
                @movie.Director
            </p>
            <p>
                <strong>Genre: </strong>
                @movie.Genre
            </p>
            <p>
                <strong>Release date: </strong>
                @if (movie.ReleaseDate is not null)
                {
                    @movie.ReleaseDate.Value.ToString("d")
                }
            </p>
            <p>
                <strong>Synopsis: </strong>
                @movie.Synopsis
            </p>
            <p>
                <strong>Duration in minutes: </strong>
                @movie.DurationInMinutes
            </p>
            <p>
                <strong>Rating: </strong>
                @movie.Rating
            </p>
        </div>
    </div>
</section>